<article class="post">
  <div class="title">
    <a href="{{post}}" target="_blank">{{title}}</a>
    <p>{{content}}</p>
  </div>
  <div class="meta">
  Posted by {{user.username}} on {{format_date created_at}} 
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>